.simple-toolbar * { margin-right: 5px; }

input.widget, .selector-search, .boolean-widget, .sort-widget, .selector-box
{
  border: $widget-border;
  border-radius: $widget-corner;
  padding: $widget-padding;
}

/* String -----------------------------------------------------------------*/

.string-widget { width: $string-width; }

/* Selector ---------------------------------------------------------------*/

.boolean-widget
{
  border-radius:4px;
  padding: 2px;
  font-family: arial;
  font-size: 11px;
  cursor: default;
  width: 30px;
  height:12px;
  text-align:center;
  background-color: white;
}

.boolean-widget .false-setting, .boolean-widget .true-setting
{
  display: none;
}

/* Selector ---------------------------------------------------------------------*/

.selector-box
{
  overflow: auto;
  margin:0;
  list-style: none;
}

.selector-search-empty
{
  color: grey;
}

.selector-widget td
{
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selector-box li:hover
{
  cursor: pointer;
}

/* Sort --------------------------------------------------------------------------*/

.sort-widget
{
  list-style: none;
  cursor: default;
  margin-left: 0;
}

/* Radio & Check groups ----------------------------------------------------------*/

.enum-widget
{
  display:inline-block;
  cursor:default;
  border-radius: $widget-corner;
  border: $widget-border;
  background-color: white;
}

.enum-widget input { display: none; }

.enum-widget label
{
  padding: $widget-padding;
  color: #eee;
}

.enum-widget.horizontal label
{
  display:inline-block;
  border-left: $widget-border;
}

.enum-widget.vertical label
{
  display:block;
  border-top: $widget-border;
}

.enum-widget label.selected { color: black; }

.enum-widget label:first-child { border-left: none; border-top: none; }

/* Integer -----------------------------------------------------------------------*/

input.integer-widget
{
  font-size: $std-font-size;
  height:$widget-height;
  width: $integer-width;
}

.spin-up, .spin-dn
{
  height: 8px; /* TODO: make relative to widget-height */
  font-size: 7px;
  text-align: center;
  width: 12px;
  position:absolute;
  cursor: default;
  border-left: 1px solid red;
  padding-right: 1px;
}
.spin-up { border-bottom: 1px solid $widget-border-color; padding-top:1px; }
.spin-dn { border-top: 1px solid $widget-border-color; padding-bottom: 1px;}

