.toolbar * { margin-left: 5px; }
.toolbar *:first-child { margin-left: 0; }

/* Selector ---------------------------------------------------------------------*/

.boolean-widget
{
  border-radius:4px;
  padding: 2px;
  font-family: arial;
  font-size: 11px;
  cursor: default;
  width: 30px;
  height:12px;
  text-align:center;
  background-color: white;
}

.boolean-widget .false-setting, .boolean-widget .true-setting
{
  display: none;
}

/* Selector ---------------------------------------------------------------------*/

.selector-box
{
  overflow: auto;
  margin:0;
  list-style: none;
}

.selector-search-empty
{
  color: grey;
}

.selector-widget td
{
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selector-box li:hover
{
  cursor: pointer;
}

/* Sort --------------------------------------------------------------------------*/

.sort-widget
{
  list-style: none;
  cursor: default;
  margin-left: 0;
}


.radiogroup-widget
{
  display:inline-block;
  cursor:default;
}

.radiogroup-widget input { display: none; }

.radiogroup-widget label
{
  display:inline-block;
  padding: 5px 10px;
}

.radiogroup-widget label:first-child { border-left: none; }

/* Integer -----------------------------------------------------------------------*/

.integer-widget-wrapper
{
  display: inline-block;
  position:relative;
}

.spinner-up, .spinner-down
{
  height: 50%;
  font-size: 9px;
  text-align: center;
  width: 24px;
  position:absolute;
  right:0;
  cursor: default;
}

.spinner-up { top: 0; border-top-right-radius: 4px; }
.spinner-down { bottom: 0; border-bottom-right-radius: 4px; }
